{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block navbar %}
{% include 'navbar.html'%}
{%endblock%}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
{% block content%}
<div class="row">
    <div class="card" style="font-family: Pangolin;">
        <div class="card-header text-center"> 
            <h4><a>{{post.name}}</a></h4>
            <div class="card-body">
                <h5 class="card-text text-center">{{post.comment}}.</h5>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="jumbotron">
                {{wtf.quick_form(comment_form)}}
            </div>
        </div>
    </div>
    <hr>

    <ul>
        <h1>COMMENTS:</h1>
        {% if comments %}
        {% for comment in comments %}
        <div class="row text-center">
            <div class="card">
                <div card-header>
                    <p>Posted by: {{comment.user.username}}</p>
                </div>
                <div class="card-body">
                    <p style="color: brown; ">{{ comment.comment }}</p>
                    {% if current_user.is_authenticated %}
                    <a href="{{url_for('main.deleteComment',post.id=id)}}"> <span class="glyphicon glyphicon-trash">Delete</span>
                    {% endif %}
                </div>
                <hr>
            </div>
        </div>
        {% endfor %}
        {% else %}
    
        <h3>Be the first to comment on this Blog !!</h3>
        {%endif%}
    </ul>
   
</div>
{% endblock %}

