{% import 'bootstrap/wtf.html' as wtf %}
{% extends 'bootstrap/base.html' %}
{% block navbar %}
{% include 'navbar.html'%}
{%endblock%}


{%block content%}
<!-- <div class="jumbotron" style="background-color: #14213d;"> -->
    <div class="container-fluid" style="background-color: #14213d;">

        <div class="container">
            <h2>Subscribe to our service to recieve daily updates</h2>
            {{ wtf.quick_form(subscription_form)}}
        </div>
        
    </div>
        
    </div>
{%endblock%}

